body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header .subtitle {
    font-size: 18px;
    color: #777;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
}

.totals p {
    margin: 5px 0;
}

.modal-xl {
    max-width: 70vw;
}

.modal-body iframe {
    height: 75vh;
    border: none;
}

/*#content-to-pdf {
    display: none;*/ /* Oculta el diseño para los usuarios */
/*}*/

@media print {
    #content-to-pdf {
        display: block; /* Muestra el diseño cuando se genera el PDF */
    }
}
