<div class="d-flex justify-content-between align-items-center">
    <!-- Título -->
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Inventario</li>
            <li class="breadcrumb-item text-primary">Centro de costos</li>
        </ol>
    </div>
</div>

<div class="row">
    <!-- Tabla del área TI -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-body" style="padding: 0rem;">
                <div class="text-center mt-4">
                    <h1>Área TI</h1>
                </div>
                <div class="table-responsive">
                    <div class="card-body">
                        <table class="table text-nowrap text-md-nowrap table-bordered">
                            <thead>
                                <tr>
                                    <th>Área</th>
                                    <th>Tipo de elemento</th>
                                    <th>Número de serial</th>
                                    <th>Valor unitario</th>
                                    <th>Valor total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Área Comercial -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-body" style="padding: 0rem;">
                <div class="text-center mt-4">
                    <h1>Área Comercial</h1>
                </div>
                <div class="table-responsive">
                    <div class="card-body">
                        <table class="table text-nowrap text-md-nowrap table-bordered">
                            <thead>
                                <tr>
                                    <th>Área</th>
                                    <th>Tipo de elemento</th>
                                    <th>Número de serial</th>
                                    <th>Valor unitario</th>
                                    <th>Valor total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Tabla del área Jurídica -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-body" style="padding: 0rem;">
                <div class="text-center mt-4">
                    <h1>Área Jurídica</h1>
                </div>
                <div class="table-responsive">
                    <div class="card-body">
                        <table class="table text-nowrap text-md-nowrap table-bordered">
                            <thead>
                                <tr>
                                    <th>Área</th>
                                    <th>Tipo de elemento</th>
                                    <th>Número de serial</th>
                                    <th>Valor unitario</th>
                                    <th>Valor total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla del área Contable -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-body" style="padding: 0rem;">
                <div class="text-center mt-4">
                    <h1>Área Contable</h1>
                </div>
                <div class="table-responsive">
                    <div class="card-body">
                        <table class="table text-nowrap text-md-nowrap table-bordered">
                            <thead>
                                <tr>
                                    <th>Área</th>
                                    <th>Tipo de elemento</th>
                                    <th>Número de serial</th>
                                    <th>Valor unitario</th>
                                    <th>Valor total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Tabla de área de Gerencia -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card" style="padding: 0rem;">
            <div class="text-center mt-4">
                <h1>Gerencia</h1>
            </div>
            <div class="table-responsive">
                <div class="card-body">
                    <table class="table text-nowrap text-md-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Tipo de elemento</th>
                                <th>Número de serial</th>
                                <th>Valor unitario</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        @* <!-- @foreach (var i in Model) ; --> *@
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla del área de Talento Humano -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="text-center mt-4">
                <h1>Talento Humano</h1>
            </div>
            <div class="table-responsive">
                <div class="card-body">
                    <table class="table text-nowrap text-md-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Tipo de elemento</th>
                                <th>Número de serial</th>
                                <th>Valor unitario</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Tabla del área de Calidad -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="text-center mt-4">
                <h1>Calidad</h1>
            </div>
            <div class="table-responsive">
                <div class="card-body">
                    <table class="table text-nowrap text-md-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Tipo de elemento</th>
                                <th>Número de serial</th>
                                <th>Valor unitario</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Área Portafolio -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="text-center mt-4">
                <h1>Portafolio</h1>
            </div>
            <div class="table-responsive">
                <div class="card-body">
                    <table class="table text-nowrap text-md-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Tipo de elemento</th>
                                <th>Número de serial</th>
                                <th>Valor unitario</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Área Operaciones -->
    <div class="col-12 col-lg-6">
        <div class="card custom-card">
            <div class="text-center">
                <h1>Operaciones</h1>
            </div>
            <div class="table-responsive">
                <div class="card-body">
                    <table class="table text-nowrap text-md-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Tipo de elemento</th>
                                <th>Número de serial</th>
                                <th>Valor unitario</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
